* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.container {
  padding: 20px 20px;
  margin: auto;
  max-width: 1440px;
}

@media (min-width: 600px) {
  .container {
    padding: 20px 0px 0px 20px;
  }
}
.header {
  position: sticky;
  top: 0;
  background-color: white;
}
.header .header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.header .header__nav .header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .header__nav .header__logo span {
  font-weight: 600;
  font-size: 16px;
}
.header .header__nav .header__list {
  display: flex;
  gap: 20px;
  display: none;
}
.header .header__nav .header__list .header__item a {
  font-weight: 300;
  transition: 0.2s;
}
.header .header__nav .header__list .header__item a:hover {
  color: blue;
}
.header .header__nav .header__actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .header__nav .header__actions img {
  width: 24px;
  height: 24px;
}
.header .header__nav .header__actions select {
  width: 50%;
}
.header .header__nav .header__actions .header__btn {
  width: 45px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(167, 167, 167);
}
.header .header__nav .header__actions .header__btn img {
  width: 20px;
  height: 20px;
}
.header .header__nav .header__actions .header__btn__s {
  width: 150px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 16px;
  color: blue;
  border: none;
  border-radius: 20px;
  display: none;
  transition: 0.5s;
}
.header .header__nav .header__actions .header__btn__s:hover {
  background-color: blue;
  color: white;
}
.header .header__nav .header__right {
  display: none;
}
.header .header__nav .header__right button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(167, 167, 167);
  border: none;
}

@media (min-width: 600px) {
  .header .header__nav .header__list {
    margin-top: 10px;
    display: flex;
  }
  .header .header__nav .header__list .header__item {
    font-size: 12px;
  }
  .header .header__nav .header__actions {
    display: none;
  }
  .header .header__nav .header__right {
    display: block;
  }
}
@media (min-width: 768px) {
  .header .header__nav .header__logo span {
    font-size: 18px;
  }
  .header .header__nav .header__list {
    margin-top: 10px;
    display: flex;
  }
  .header .header__nav .header__list .header__item {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .header .header__nav .header__logo span {
    font-size: 24px;
  }
  .header .header__nav .header__actions {
    display: flex;
  }
  .header .header__nav .header__actions .header__btn {
    display: none;
  }
  .header .header__nav .header__actions img {
    display: none;
  }
  .header .header__nav .header__actions select {
    width: 100%;
  }
  .header .header__nav .header__actions .header__btn__s {
    display: block;
  }
}
.hero .hero__wrapper {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}
.hero .hero__wrapper .hero__title h1 {
  width: 50%;
}
.hero .hero__wrapper .hero__img img {
  width: 100%;
}
.hero .hero__wrapper .hero__bottom {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
.hero .hero__wrapper .hero__bottom .hero__info {
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
}
.hero .hero__wrapper .hero__bottom .hero__info h1 {
  color: #184AFB;
  font-size: 40px;
  font-weight: 400;
}
.hero .hero__wrapper .hero__bottom .hero__info p {
  font-weight: 300;
}

@media (min-width: 850px) {
  .hero .hero__wrapper {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    justify-content: end;
  }
  .hero .hero__wrapper .hero__top {
    display: grid;
    grid-template-columns: auto;
    justify-content: end;
  }
  .hero .hero__wrapper .hero__top .hero__title {
    width: 493px;
  }
  .hero .hero__wrapper .hero__top .hero__img img {
    width: 100%;
  }
  .hero .hero__wrapper .hero__bottom {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 300px;
    justify-content: end;
  }
}
.unhero .hero__cards {
  display: grid;
  grid-template-columns: auto;
  gap: 40px;
}
.unhero .hero__cards .hero__card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid rgba(209, 209, 209, 0.961);
  border-radius: 8px;
}
.unhero .hero__card__info {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}
.unhero .hero__card__info p {
  font-weight: 300;
}
.unhero .hero__card__info button {
  width: 70%;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: #184AFB;
  transition: all ease 0.4s;
}
.unhero .hero__card__info button:hover {
  background-color: #184AFB;
  color: #d5d5d5;
}

@media (min-width: 600px) {
  .unhero .hero__cards {
    display: flex;
    justify-content: end;
  }
  .unhero .hero__cards .hero__card {
    width: 487px;
  }
  .unhero .hero__card__info {
    margin-top: 20px;
    display: flex;
    justify-content: end;
  }
  .unhero .hero__card__info button {
    width: 30%;
  }
  .unhero .hero__card__info p {
    width: 70%;
  }
}
@media (min-width: 1300px) {
  .unhero .hero__card__info {
    display: flex;
    justify-content: end;
  }
  .unhero .hero__card__info p {
    width: 50%;
  }
  .unhero .hero__card__info button {
    width: 20%;
  }
}
.actions {
  margin-top: 100px;
}
.actions .actions__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.actions .actions__info h1 {
  font-weight: 400;
}
.actions .actions__info p {
  font-weight: 300;
}

@media (min-width: 1200px) {
  .actions {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .actions .actions__info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50%;
  }
}
.startup {
  margin-top: 100px;
}
.startup .startup__wrapper {
  display: grid;
  grid-template-columns: auto;
  justify-content: start;
}
.startup .startup__wrapper .startup__cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}
.startup .startup__wrapper .startup__cards .startup__card {
  display: grid;
  grid-template-columns: auto;
}
.startup .startup__wrapper .startup__cards .startup__card .startup__right {
  margin-top: 20px;
  padding-top: 20px;
}
.startup .startup__wrapper .startup__cards .startup__card .startup__right p {
  font-weight: 400;
  width: 90%;
}
.startup .startup__wrapper .startup__cards .startup__card .startup__right button {
  width: 64px;
  height: 36px;
  border-radius: 20px;
  border: none;
  transition: all ease 0.4s;
}
.startup .startup__wrapper .startup__cards .startup__card .startup__right button:hover {
  transform: translateX(20px);
}

@media (min-width: 768px) {
  .startup .startup__wrapper .startup__cards {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 40px;
  }
}
@media (min-width: 992px) {
  .startup .startup__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: end;
  }
  .startup .startup__wrapper .startup__title {
    margin: 0 auto;
  }
  .startup .startup__wrapper .startup__cards {
    justify-content: center;
    gap: 140px;
  }
  .startup .startup__wrapper .startup__cards .startup__card {
    display: flex;
  }
  .startup .startup__wrapper .startup__cards .startup__card .startup__right {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.letters {
  margin-top: 50px;
  text-align: center;
}
.letters .letters__imgs {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.letters .letters__bottom {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.letters .letters__bottom p {
  width: 70%;
}
.letters .letters__bottom button {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  border: none;
  transition: all ease 0.4s;
}
.letters .letters__bottom button:hover {
  transform: translateX(20px);
}

@media (min-width: 500px) {
  .letters .letters__imgs {
    display: grid;
    grid-template-columns: auto auto;
  }
  .letters .letters__imgs img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .letters .letters__imgs {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .letters .letters__imgs img {
    width: 80%;
  }
}
.team .team__img {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.team .team__img img {
  width: 96px;
  height: 100%;
}
.team .team__img p {
  font-weight: 400;
}
.team .team__img button {
  width: 190px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #CCCCCC;
  color: #184AFB;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
}
.team .team__img button img {
  width: 24px;
  height: 20px;
}
.team .team__cards {
  margin-top: 150px;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}
.team .team__cards .team__card .team__card__info {
  color: #56585E;
  font-weight: 500;
  padding: 20px;
}
.team .team__cards .team__card .team__card__info h1 {
  font-size: 40px;
  width: 432px;
}

@media (min-width: 676px) {
  .team .team__img {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .team .team__cards {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media (min-width: 676px) {
  .team {
    margin-top: 150px;
  }
  .team .team__cards {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
  }
}
.partner {
  margin-top: 100px;
}
.partner .partner__img {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  font-weight: 400;
}
.partner .partner__logos {
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  gap: 20px;
}

@media (min-width: 808px) {
  .partner .partner__img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .partner .partner__img p {
    width: 408px;
  }
  .partner .partner__logos {
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 280px;
  }
}
@media (min-width: 1200px) {
  .partner .partner__logos {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
  }
}
.footer {
  margin-top: 150px;
}
.footer .footer__wrapper {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}
.footer .footer__wrapper .footer__logo a {
  font-weight: 600;
  font-size: 30px;
  width: 170px;
}
.footer .footer__wrapper .footer__nav {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}
.footer .footer__wrapper .footer__nav li a {
  font-weight: 400;
  transition: 0.2s;
}
.footer .footer__wrapper .footer__nav li a:hover {
  color: #184AFB;
}
.footer .footer__wrapper .footer__actions {
  display: grid;
  grid-template-columns: auto;
}
.footer .footer__wrapper .footer__actions input {
  border: none;
  outline: none;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #CCCCCC;
}
.footer .unfoooter {
  border-top: 1px solid #CCCCCC;
  margin-top: 50px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}
.footer .unfoooter button {
  width: 100%;
  height: 40px;
  background-color: #56585E;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  font-size: 16px;
  color: #CCCCCC;
  transition: 0.4s;
}
.footer .unfoooter button:hover {
  background-color: #184AFB;
}
.footer .unfoooter button img {
  width: 12px;
  height: 12px;
}

@media (min-width: 768px) {
  .footer .footer__wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
  }
  .footer .unfoooter {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
  }
  .footer .unfoooter button {
    width: 221px;
  }
}