.hero{
    margin-top: 100px;
    .hero__wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .hero__right{
            p{
                font-weight: 400;
            }
        }
    }
    .img__hero{
        margin-top: 20px;
        img{
            width: 100%;
        }
    }
   
}
@media (min-width: 992px) {
    .hero{
        .hero__wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            .hero__left{
                width: 50%;
                h1{
                    font-size: 48px;
                    width: 509px;
                }
            }
            .hero__right{
                width: 45%;
                p{
                    font-size: 16px;
                    width: 372px;
                }
            }
        }
        .hero__img{
            width: 100%;
        }
    }
}