.footer{
    margin-top: 150px;
    .footer__wrapper{
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        .footer__logo{
            a{
                font-weight: 600;
                font-size: 30px;
                width: 170px;
            }
        }
        .footer__nav{
            display: grid;
            grid-template-columns: auto;
            gap: 20px;
            li{
                a{
                    font-weight: 400;
                    transition: 0.2s;
                    &:hover{
                        color: #184AFB;
                    }
                }
            }
        }
        .footer__actions{
            display: grid;
            grid-template-columns: auto;
            input{
                border: none;
                outline: none;
                width: 100%;
                padding: 20px;
                border-bottom: 1px solid #CCCCCC;
            }
        }
    }
    .unfoooter{
        border-top: 1px solid #CCCCCC;
        margin-top: 50px;
        padding: 20px;
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        button{
            width: 100%;
            height: 40px;
            background-color: #56585E;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border: none;
            font-size: 16px;
            color: #CCCCCC;
            transition: 0.4s;
            &:hover{
                background-color: #184AFB;
            }
            img{
                width: 12px;
                height: 12px;
            }
        }
    }
}
@media (min-width: 768px) {
    .footer{
        .footer__wrapper{
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 50px;
        }
        .unfoooter{
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: end;
            button{
                width: 221px;
            }
        }
    }
}