.header{
    position: sticky;
        top: 0;
        background-color: white;
    .header__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        .header__logo{
            display: flex;
            align-items: center;
            gap: 10px;
            span{
                font-weight: 600;
                font-size: 16px;
            }
        }
        .header__list{
            display: flex;
            gap: 20px;
            display: none;
            .header__item a{
                font-weight: 300;
                transition: 0.2s;
                &:hover{
                    color: blue;
                }
            }
        }
        .header__actions{
            display: flex;
            align-items: center;
            gap: 20px;
            img{
                width: 24px;
                height: 24px;
            }
            select{
                width: 50%;
            }
            .header__btn{
                width: 45px;
                height: 35px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                background-color: rgb(167, 167, 167);
                img{
                    width: 20px;
                    height: 20px;
                }
            }
            .header__btn__s{
                width: 150px;
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;
                font-size: 16px;
                color: blue;
                border: none;
                border-radius: 20px;
                display: none;
                transition: 0.5s;
                &:hover{
                    background-color: blue;
                    color: white;
                }
            }
        }
        .header__right{
            display: none;
            button{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(167, 167, 167);
                border: none;
            }
        }
    }
}


@media (min-width: 600px) {
    .header{
        .header__nav{
            .header__list{
                margin-top: 10px;
                display: flex;
                .header__item{
                    font-size: 12px;

                }
            }
            .header__actions{
                display: none;
            }
            .header__right{
                display: block;
            }
        }
    }
}
@media (min-width: 768px) {
    .header{
        .header__nav{
            
        .header__logo{
            span{
                font-size: 18px;
            }
        }
            .header__list{
                margin-top: 10px;
                display: flex;
                .header__item{
                    font-size: 16px;
                }
            }
        }
    }
}
@media (min-width: 992px) {
    .header{

        .header__nav{
            
        .header__logo{
            span{
                font-size: 24px;
            }
        }
            .header__actions{
                display: flex;
                .header__btn{
                    display: none;
                }
                img{
                    display: none;
                }
                select{
                    width: 100%;
                }
                .header__btn__s{
                    display: block;
                }
            }
        }
    }
}